%form{:method => 'post', :action => '/article/add'}
  %input.title{:type => 'text', :name => 'title', :class => 'span-16 last'}
  %textarea.text{:name => 'text', :wrap => 'soft', :class => 'span-16 last'}
  %input.title{:type => 'text', :name => 'tags', :class => 'span-16 last'}
  %input{:type => 'submit'}

